<div class="container mt-6" *ngIf="product != null">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6 col-xs-12 col-md-6">
          <h4 class="card-title">
            {{product?.name}} | <b class="text-muted">{{product?.model}}</b>
          </h4>
        </div>
        <div class="col-lg-2 offset-lg-4 col-xs-12 col-md-4 offset-md-2">
          <p-rating [ngModel]="product?.rate" style [cancel]="false"></p-rating>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail img-responsive rounded" [src]="product?.image" alt="{{product?.name}}">
        </div>
        <div class="col-md-8">
          <div class="card-text">
            <p>
              <b id="price">{{product?.price}}€</b>/unidad
            </p>
            <p> {{product?.description}}</p>
            <p class="text-muted">Nº de ventas: <b>{{product?.sales}}</b></p>
          </div>
          <div class="row mt-3 justify-content-end">
            <div class="form-group">
              <input type="number" class="form-control" id="quantity" min="1" value="1" max="{{limit}}"
                     aria-describedby="quantityHelp" [(ngModel)]="quantity" (change)="_handleQuantityChange()">
              <small id="quantityHelp" class="form-text text-muted">Máximo {{limit}}.</small>
            </div>
            <button id="add-cart" class="btn btn-info" (click)="addToCart()">Añadir al carrito <i
              class="fa fa-shopping-cart"></i></button>
            <button id="wish-list" class="btn btn-warning">!Lo deseo! <i class="fa fa-heart-o"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-comments-list [comments]="product?.comments"></app-comments-list>
