.img-thumbnail {
  width: 400px;
}

.card {
  border: 0 !important;
}

.form-control {
  text-align: center;
  width: 4rem;
  margin-right: 0.7rem;
}

#add-cart {
  margin-right: 0.7rem;
  height: 3.5rem !important;
}

#wish-list{
  height: 3.5rem !important;
}

#price {
  font-size: 34px;
}

@media (max-width: 768px) {
  .form-control {
    height: 3rem !important;
    margin-left: 0;
  }

  .form-text {
    margin-right: 0.7rem !important;
  }
}
