.fa-shopping-cart {
  font-size: 26px;
}

.fa-shopping-bag {
  font-size: 30px;
}

.navbar{
  border-bottom: 1px solid #f5f5f6;
}

@media (max-width: 768px) {
  .navbar-collapse {
    padding-top: 1em;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    z-index: 1000;
    bottom: -60em
  }
  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
  }
  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  }
  .navbar-nav {
    height: 100%;
  }

  .sign-in {
    color: #6c757d !important;
    font-weight: bolder;
    order: 0;
  }

  .nav-item:not(.sign-in):not(.sign-out) {
    background-color: lightgray;
    border-bottom: 3px dotted rgba(0,0,0,0.1);
  }

  .sign-out {
    position: fixed;
    bottom: 0;
    padding-bottom: 2em;
  }

  .sign-out a {
    color: red;
    font-weight: bolder;
    text-decoration: none;
  }


}

.navbar-toggler {
  border: 0 transparent !important;
}

nav.scrolled {
  background-color: rgba(10, 155, 170, 0.8) !important;
  transition: background-color 800ms linear;
  border-bottom: rgba(10, 155, 170, 0.8) !important;
}

#cart:hover {
  cursor: pointer;
  color: #0069d9;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: black;
  display: block;
  transition: ease 0.8s;
  margin-top: 4px
}

.rotate-top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.rotate-middle-bar {
  opacity: 0;
}

.rotate-bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.sign-in {
  color: #6c757d !important;
  font-weight: bolder;
}
