<div class="container mt-7 mb-4" *ngIf="logged">
  <p-growl styleClass="mt-7"></p-growl>
  <div class="card">
    <div class="card-header text-uppercase font-weight-bold">
      {{currentUser?.name}} {{currentUser?.lastName}}
    </div>
    <div class="card-body">
      <form [formGroup]="userForm" class="needs-validation">
        <div class="row">
          <div class="col-lg-2 col-xs-12">
            <img class="img-thumbnail img-responsive" [src]="currentUser?.image">
          </div>
          <div class="col-lg-10 col-xs-12">
            <div class="row">
              <div class="col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="name" class="col-form-label">Nombre: </label>
                  <input #name id="name" class="form-control" placeholder="Nombre" [value]="currentUser?.name" formControlName="name" required>
                  <div class="invalid-feedback" *ngIf="isNameInvalid()">
                    El nombre es requerido.
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="lastName" class="col-form-label">Apellidos: </label>
                  <input #lastName id="lastName" class="form-control" placeholder="Apellidos" [value]="currentUser?.lastName" formControlName="lastName" required>
                  <div class="invalid-feedback" *ngIf="isLastnameInvalid()">
                    Los apellidos son requeridos.
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="email" class="col-form-label">Correo electrónico: </label>
                  <input #email id="email" class="form-control" type="email" placeholder="Email" readonly [value]="currentUser?.email" formControlName="email" required>
                  <div class="invalid-feedback" *ngIf="isEmailInvalid()">
                    El email no válido.
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="mobile-phone" class="col-form-label">Teléfono móvil: </label>
                  <input #mobilePhone id="mobile-phone" class="form-control" type="text" placeholder="Teléfono móvil" [value]="currentUser?.mobilePhone" formControlName="mobilePhone" required>
                  <div class="invalid-feedback" *ngIf="isMobilePhoneInvalid()">
                    El teléfono móvil no es válido.
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="country" class="col-form-label">País: </label>
                  <input #country id="country" class="form-control" placeholder="País" [value]="currentUser?.shippingAddress.country" formControlName="country" required>
                  <div class="invalid-feedback" *ngIf="isCountryInvalid()">
                    El país es requerido.
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="location" class="col-form-label">Provincia: </label>
                  <input #location id="location" class="form-control" placeholder="Provincia" [value]="currentUser?.shippingAddress.location" formControlName="location" required>
                  <div class="invalid-feedback" *ngIf="isLocationInvalid()">
                    La localidad es requerida.
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="location" class="col-form-label">Municipio: </label>
                  <input #city id="city" class="form-control" placeholder="Municipio" [value]="currentUser?.shippingAddress.city" formControlName="city" required>
                  <div class="invalid-feedback" *ngIf="isCityInvalid()">
                    El municipio es requerido.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-xs-12">
                <div class="form-group">
                  <label for="address" class="col-form-label">Dirección: </label>
                  <input #address id="address" class="form-control" placeholder="Dirección" [value]="currentUser?.shippingAddress.street" formControlName="address" required>
                  <div class="invalid-feedback" *ngIf="isAddressInvalid()">
                    La dirección es requerida.
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="cp" class="col-form-label">Código postal: </label>
                  <input #postalCode id="cp" class="form-control" placeholder="Código postal" [value]="currentUser?.shippingAddress.postalCode" formControlName="postalCode" required>
                  <div class="invalid-feedback" *ngIf="isPostalCodeInvalid()">
                    El código postal es requerido.
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="credit-card" class="col-form-label">Tarjeta bancaria:</label>
                  <p-inputMask #cardNumber inputId="credit-card" name="credit-card" styleClass="form-control" placeholder="Tarjeta bancaria" [formControlName]="'cardNumber'" mask="9999-9999-9999-9999"></p-inputMask>
                  <div class="invalid-credit-card" *ngIf="isCardNumberInvalid()">
                    No es una tarjeta VISA válida.
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="cvv" class="col-form-label">CVV:</label>
                  <input #cvv id="cvv" type="text" class="form-control" placeholder="CVV" [value]="currentUser?.billing.cvv">
                  <div class="invalid-feedback" *ngIf="isCvvInvalid()">
                    El cvv es requerido.
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xs-12">
                <div class="form-group">
                  <label for="expiry-date" class="col-form-label">Fecha de caducidad:</label>
                  <p-inputMask #expiryDate inputId="expiry-date" name="expiry-date" styleClass="form-control" placeholder="Fecha caducidad" [formControlName]="'expiryDate'" mask="99/9999"></p-inputMask>
                  <div class="invalid-expiry-date" *ngIf="isExpiryDateInvalid()">
                    La fecha de caducidad es requerida.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" [disabled]="!userForm.valid" (click)="_updateInfo()">Guardar</button>
    </div>
  </div>
</div>
