<div class="pt-3">
  <label for="orderBy" class="col-form-label">Ordenar por: </label>
  <div id="orderBy" class="btn-group btn-group-toggle pl-2" data-toggle="buttons">
    <label class="btn btn-primary">
      <input type="radio" name="options" id="option1" autocomplete="off"> Relevancia
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options" id="option2" autocomplete="off"> Ventas
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options" id="option3" autocomplete="off"> Valoración
    </label>
  </div>
</div>
