<p-sidebar #cart [(visible)]="displayCartSidebar" position="right" [modal]="true" [blockScroll]="true">
  <div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center text-uppercase"><b>Carrito</b></h4>
      </div>
    </div>
    <div *ngIf="isCartEmpty(); else cart_products" class="row justify-content-center">
      <div class="row">
        <div class="col-md-12">
          <p>No hay productos añadidos al carrito</p>
        </div>
      </div>
    </div>
    <ng-template #cart_products>
      <app-cart-product [cartItem]="product" *ngFor="let product of _cartItems" (productDelete)="_handleProductDelete($event)"></app-cart-product>
      <app-cart-costs [subtotal]="subtotal" [transportCost]="transportCost" [totalCost]="totalCost"></app-cart-costs>
      <div class="row justify-content-center">
        <button class="btn btn-danger">Tramitar pedido <i class="fa fa-arrow-right"></i></button>
      </div>
    </ng-template>
  </div>
</p-sidebar>
<a id="cart" (click)="toggleSidebarCart()">
  <i class="fa fa-shopping-cart"></i>
</a>
<span class="badge badge-pill badge-warning" [hidden]="isCartEmpty()">{{_cart.total}}</span>
