.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 4.5rem !important;
}

button, a {
  touch-action: manipulation;
}

.ui-rating a {
  color: #ffd438 !important;
  font-size: 26px !important;
}
